<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header class="header">
            {{ page.header }}
            <nav class="menu">
                {{ page.menu }}
            </nav>

        </header>
        {% if page.highlighted %}
      <div class="highlighted">
          {{ page.highlighted }}
      </div>
    {% endif %}
       

        <footer>
            {{ page.footer }}
        </footer>
    </body>
</html>